/* CONTENEDOR */
.filtros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin: 20px 0;
  width: 100%;
  flex-wrap: wrap;
}

/* ANGULAR MATERIAL FIELD */
mat-form-field {
  min-width: 220px;
}

/* bordes redondeados estilo app */
.mat-mdc-text-field-wrapper {
  border-radius: 10px !important;
}

/* INPUT Y SELECT */
.filtros select {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;

  box-shadow: inset 0 2px 4px rgba(0,0,0,0.05);
  outline: none;
  min-width: 160px;
}

/* focus */
.filtros select:focus {
  border-color: #999;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.08);
}

/* BOTONES */
.filtros button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.2s;
  white-space: nowrap;
}

.filtros button:hover {
  background: #f2f2f2;
}

/* GRUPO TIPO */
.tipo {
  display: flex;
  gap: 5px;
}


::ng-deep .mat-datepicker-content {
  background: white !important;
}

/* INPUT DEL DATE RANGE */
::ng-deep .mat-mdc-text-field-wrapper {
  border-radius: 12px !important; /* más redondeado */
  border: 1px solid #e5e5e5 !important; /* borde más claro */
  background: white;
}

/* QUITAR BORDE NEGRO POR DEFECTO */
::ng-deep .mdc-notched-outline__leading,
::ng-deep .mdc-notched-outline__notch,
::ng-deep .mdc-notched-outline__trailing {
  border-color: #e5e5e5 !important;
}


/* HOVER */
::ng-deep .mat-mdc-text-field-wrapper:hover {
  border-color: #ccc !important;
}

/* FOCUS */
::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--focused {
  border-color: #999 !important;
}

::ng-deep .mat-date-range-input-container {
  padding-left: 12px;
  padding-right: 12px;
  gap: 8px;
}

