.sidebar {
  width: 150px;
  height: 100vh;
  position: fixed;
  background: #ffffff;
  border-right: 1px solid #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo h1 {
  margin: 0;
  font-size: 20px;
}

.logo span {
  font-size: 12px;
  color: gray;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.menu li {
  padding: 10px;
  cursor: pointer;
}

.menu li.active {
  font-weight: bold;
  background: #eee;
}

.btn-add {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 300px;
}