<div class = "login-wrapper">

    <div class = "login-izq">
        <h1 class="logo">WealthGuard</h1>

        <p class="descripcion">
            Proteja su patrimonio con precisión institucional.
        </p>

        <p class = "descripcion">
        Gestiones sus archivos, presupuestos y trasacciones en una plataforma diseñada para la claridad y el control total.
        </p>

        <div class = "caracteristicas">
            <span>Seguridad cifrada</span> ·
            <span>Análisis en tiempo real</span> ·
            <span>Soporte experto</span>
        </div>
    </div>

    <div class = "login-der">
        <h2>Bienvenido de Nuevo</h2>
        <p class = "credenciales"> Ingrese sus credenciales para acceder a la cuenta</p>

        <form (ngSubmit) = "onSubmit()" #loginForm="ngForm">

            <div class="form-group">
                <label for = "usuario"> Usuario </label>
                <div class = "entrada">
                    <input type = "text" 
                    id = "usuario" 
                    name = "usuario" 
                    [(ngModel)] = "usuario"
                    required
                    />
                    <span class = "icono">✉️</span>
                </div>
            </div>
            
            <div class="form-group">
                <label for = "password"> Contraseña </label>
                <div class = "entrada">
                    <input 
                    type = "password" 
                    id = "password" 
                    name = "password" 
                    [(ngModel)] = "password"
                    required
                    />
                    <span class = "icono">🔒</span>
                </div>

                <a class =  "olvidar" (click) = "onOlvideMiPassword()">
                    ¿Olvidaste tu contraseña?
                </a>
            </div>

            <div class = "error" *ngIf = "errormensaje">
                {{ errormensaje }}
            </div>

            <div class = "recordar">
                <input type = "checkbox" id = "recordar" />
                <label for = "recordar"> Recordarme en este dispositivo </label>
            </div>

            <button type = "submit" class = "iniciarsesion">
                Iniciar Sesión
            </button>
        </form>

        <p class = "registro">
            ¿No tienes una cuenta? 
            <a (click) = "onRegistrarse()">Regístrate</a>
        </p>
    </div>
</div>