<div class = "login-wrapper">

    <div class = "login-izq">
        <h1 class="logo">WealthGuard</h1>

        <p class="descripcion">
            Proteja su patrimonio con precisión institucional.
        </p>

        <p class = descripcion>
        Gestiones sus archivos, presupuestos y trasacciones en una plataforma diseñada para la claridad y el control total.
        </p>

        <div class = "características">
            <span>Seguridad cifrada</span> ·
            <span>Análisis en tiempo real</span> ·
            <span>Soporte experto</span>
        </div>

    </div>
</div>