h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 44px;
}

.header-transacciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add-mov {
  display: flex;
  align-items: center;
  gap: 6px;

  background: black;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;

  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-add-mov span {
  font-size: 18px;
}

.btn-add-mov:hover {
  background: #222;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
}